@font-face {
    font-family: "Flaticon";
    src: url("Fonts/flaticon.eot");
    src: url("Fonts/flaticon.eot#iefix") format("embedded-opentype"), url("Fonts/flaticon.woff") format("woff"), url("Fonts/flaticon.ttf") format("truetype"), url("Fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-computer52:before {
    content: "\e000";
}

.flaticon-computing51:before {
    content: "\e001";
}

.flaticon-cpu9:before {
    content: "\e002";
}

.flaticon-internet113:before {
    content: "\e003";
}
