﻿@font-face {
    font-family: "Bariol";
    src: url("Fonts/bariol_regular-webfont.eot");
    src: url("Fonts/bariol_regular-webfont.eot#iefix") format("embedded-opentype"), url("Fonts/bariol_regular-webfont.woff") format("woff"), url("Fonts/bariol_regular-webfont.ttf") format("truetype"), url("Fonts/bariol_regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* =================================
        Page
   ================================= */
* {
    outline: none;
}

html {
    font-size: 15px;
}

body {
    font: 400 15px/20px 'Lato', sans-serif;
    color: #555459;
    background-color: #fff;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: geometricPrecision;
}

a {
    color: #108CE2;
}

/* =================================
        Helper Classes
   ================================= */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.centered.aligned {
    text-align: center !important;
}

.text.uppercase {
    text-transform: uppercase;
}

/* Style for Button */
.button.elegant {
    font-weight: 400;
}

.button.margin.up {
    margin-top: 1em;
}

/* Full height */
.full.height {
    height: 100%;
}

/* Vertical align */
.vertical.aligned {
    display: table;
}

    .vertical.aligned > div {
        display: table-cell;
        vertical-align: middle;
    }

.vertical.centered.aligned {
    margin: auto;
    text-align: initial;
}

/* Sub label */
.sub.label {
    margin-top: 0.28571429rem;
    margin-bottom: 0.28571429rem;
    font-size: 0.92857143em;
}

/* Style for h1...6 */
h6 {
    font-size: 0.9rem;
}

h1.elegant, h2.elegant, h3.elegant, h4.elegant, h5.elegant, h6.elegant {
    font-weight: 500 !important;
}

h1.heavy, h2.heavy, h3.heavy, h4.heavy, h5.heavy, h6.heavy {
    font-weight: 900 !important;
}

h1.relaxed, h2.relaxed, h3.relaxed, h4.relaxed, h5.relaxed, h6.relaxed {
    letter-spacing: 2px;
}

/* Text Color */
.light.grey.color {
    color: #ccc !important;
}

.grey.color {
    color: #AAAAB4 !important;
}

.row-grey-color, .row-grey-color>*, .row-grey-color a {
    color: #AAAAB4 !important;
}

.black.color {
    color: #000 !important;
}

i.blue.icon {
    color: #108CE2 !important;
}
.blue.color {
    color: #108CE2;
}

.light.blue.color {
    color: #4CC1E6 !important;
}

i.green.icon {
    color: #50EA95 !important;
}
.green.color {
    color: #50EA95;
}

i.red.icon {
    color: #E64C66 !important;
}
.red.color {
    color: #E64C66;
}

.orange.color {
    color: #FF7D04;
}

.purple.color {
    color: #5D7FFF;
}

/* Text Style */
.linethrough {
    text-decoration: line-through;
}

.text.centered {
    text-align: center;
}

/* Style for List */
.ui.list .item .large.icon {
    position: relative;
    top: -2px;
    color: #666;
}

/* Style for Item */
.dark-transparent.active.item {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

/* Segment */
.light.segment > div:not(.statistic) {
    padding-left: 0.2rem;
}

.segment .statistic + .icon {
    position: absolute;
    top: 2.05em;
    right: 1em;
    color: #A9BDC7;
    line-height: 1;
}

/* Container */
.ui.text.normal.container {
    font-size: 1rem;
}

/* Form contain table as a list */
.ui.form .ui.unstackable.single.line.very.basic.table {
    margin-top: -1px;
}

/* Form contain fluid dropdown */
.ui.form .inline.fields .ui.fluid.dropdown {
    width: 100% !important;
}

/* Modal */
.ui.modal > .actions {
    background-color: #fff;
}

/* Mini modal */
.ui.mini.modal { 
    width: 300px; 
    text-align: center;
}

.ui.mini.dropdown > .dropdown.icon {
    margin: -0.58571429em;
}

.ui.mini.modal > .header {
    border: 0;
}

.ui.mini.modal > .content {
    padding: 0.5rem 1.5rem 1.5rem;
}

.ui.mini.modal .actions .button {
    margin-left: 0;
    width: 48%;
}

.ui.mini.modal .actions .button:first-child {
    float: left;
}

/* Statistic */
.ui.orange.statistics .statistic > .value, .ui.statistics .orange.statistic > .value, .ui.orange.statistic > .value {
    color: #FF7D04;
}

/* =================================
        Logo
   ================================= */
#logo {
    font-family: 'Bariol', cursive;
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #108CE2;
    text-transform: uppercase;
    margin: 0;
}

    #logo.small {
        font-size: 2rem;
        position: relative;
        top: 0px;
        line-height: 0.8em;
        margin-left: 1.5rem;
    }


/* =================================
        Footer
   ================================= */
#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #888;
}


/* =================================
        Pusher and Sidebar and TopbarMenu
   ================================= */
body .pusher {
    min-height: 100%;
    position: relative;
    padding-bottom: 4em;
}

/* Style for .main-Container */
.main-container {
    background-color: #FFF !important;
}

    /* Style for .left.sidebar.menu */
    .main-container .left.vertical.sidebar.menu {
        border: 0;
    }

    .main-container .left.vertical.sidebar.menu > .item::before {
        width: 0;
        height: 0;
    }


/* =================================
        Login Page
   ================================= */
.login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

#loginForm {
    margin: 0px auto;
    padding: 10px 13px;
    width: 330px;
}


/* =================================
        Signup Page
   ================================= */
.signup-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

#signupForm {
    margin: 0px auto;
    padding: 10px 13px;
    width: 330px;
}

/* =================================
        Panel
   ================================= */
.panel {
    border-bottom: 5px solid #f5f7f6;
    padding: 1.5rem 0;
}

.panel.menu {
    padding: 0;
}

.panel.reminder {
    background-color: #FFDEAC;
    padding: 3rem 0 3.5rem;
}

.panel.reminder > div {
    background-color: #fff;
    box-shadow: 10px 10px 0px 0px rgb(251, 202, 152);
    border-radius: 0.2em;
}

.panel > .ui.search {
    width: calc(100% - 4em);
    margin: auto;
}

.panel > div > .view.more {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
}

.panel.activities .ui.list .item .content {
    background-color: #E8F0F9;
    color: #4D6075;
    padding: 1rem;
    border-radius: 0.4rem;
}

.panel.activities .ui.list .item .mini.icon {
    position: relative;
    top: 20px;
    padding-right: 1rem;
}

.panel.activities .ui.list .item .date {
    display: table-cell;
    padding-right: 1.2rem;
    width: 7em;
    position: relative;
    top: 15px;
    color: #4D6075;
    font-weight: bold;
}



/* =================================
        Transformicon
   ================================= */
.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
}

    .tcon > * {
        display: block;
    }

    .tcon:hover,
    .tcon:focus {
        outline: none;
    }

    .tcon::-moz-focus-inner {
        border: 0;
    }

.tcon-menu__lines {
    display: inline-block;
    height: 4.2px;
    width: 25px;
    border-radius: 4px;
    transition: 0.3s;
    background: #444;
    position: relative;
}

    .tcon-menu__lines::before,
    .tcon-menu__lines::after {
        display: inline-block;
        height: 4.2px;
        width: 25px;
        border-radius: 4px;
        transition: 0.3s;
        background: #444;
        content: '';
        position: absolute;
        left: 0;
        -webkit-transform-origin: 2.85714px center;
        transform-origin: 2.85714px center;
        width: 100%;
    }

    .tcon-menu__lines::before {
        top: 7px;
    }

    .tcon-menu__lines::after {
        top: -7px;
    }

.tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xcross {
    width: auto;
}

    .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
        background: transparent;
    }

        .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before,
        .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            top: 0;
            width: 30px;
        }

        .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }

        .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }

.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    .tcon-visuallyhidden:active,
    .tcon-visuallyhidden:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }


/* =================================
        Responsives
   ================================= */
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

    .visible-xs {
        display: block !important;
    }

    .panel.menu > .ui.menu {
        width: calc(100% - 2em) !important;
    }

    .panel.reminder > .ui.grid {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }

    .panel.reminder > .ui.grid .column:not(.header) {
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }

    .panel.activities > .ui.grid {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
    
    /* Statistic */
    .ui.horizontal.statistics .statistic > .value .icon, .ui.horizontal.statistic > .value .icon {
        width: auto !important;
        margin-right: 0.3rem;
        padding-right: 0.1rem;
    }

    .ui.mini.modal {
        margin: 0 0 0 -150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .hidden-sm {
        display: none !important;
    }

    .visible-sm {
        display: block !important;
    }

    .ui.mini.modal {
        margin: 0 0 0 -150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }

    .visible-md {
        display: block !important;
    }

    .ui.mini.modal {
        margin: 0 0 0 -150px;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }

    .visible-lg {
        display: block !important;
    }

    .ui.mini.modal {
        margin: 0 0 0 -150px;
    }
}

@media (min-width: 1460px) and (max-width: 1919px) {
    .ui.mini.modal {
        margin: 0 0 0 -150px;
    }
}

@media (min-width: 1920px) {
    .ui.mini.modal {
        margin: 0 0 0 -150px;
    }
}

*[st-sort] {
    cursor: pointer !important;
}

.ui.text.container.oneline {
  max-width: 1920px !important;
}