﻿<div class="ui dropdown {{cssClass}}" ng-class="{'multiple': multiple}">

    <input type="hidden" name="{{id}}">

    <div class="default text">{{ defaultText }}</div> 
    <i class="dropdown icon"></i>

    <div class="menu">
        <div class="item" ng-repeat="item in items | orderBy: value" data-value="{{item[value]}}">
            {{item[text]}}
        </div>
    </div>
</div>
