﻿<div class="command menu">
    <span class="header item">Filter by</span>
    <div class="ui checkbox item" bd-checkbox ng-repeat="item in items" ng-click="filter(item[value])">
        <input type="checkbox">
        <label>{{item[text]}}</label>
    </div>
</div>