﻿<div ng-if="pages.length >= 2">
    <div class="ui pagination borderless menu">

        <!--<a class="item" ng-click="selectPage(1)" ng-hide="currentPage==1">
            <i class="large angle double left icon"></i>
        </a>

        <a class="item" ng-click="selectPage(currentPage-1)" ng-hide="currentPage==1">
            <i class="large angle left icon"></i>
        </a>-->

        <a class="item dark-transparent" ng-class="{active: page==currentPage}" ng-click="selectPage(page)" ng-repeat="page in pages">
            {{page}}
        </a>

        <!--<a class="item" ng-click="selectPage(currentPage+1)" ng-hide="currentPage==numPages">
            <i class="large angle right icon"></i>
        </a>

        <a class="item" href="" ng-click="selectPage(numPages)" ng-hide="currentPage==numPages">
            <i class="large angle double right icon"></i>
        </a>-->

    </div>
</div>