﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/asset-service.js"></script>
<script src="app/services/asset-type-service.js"></script>
<script src="app/controllers/assetsController.js"></script>