﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/history-service.js"></script>
<script src="app/controllers/assetdetailsController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container">
    <h2 class="ui header">Details of asset {{assetHistory.assetName}}</h2>

    <div class="divider ui"></div>
    <div class="divider">&nbsp;</div>

    <div class="ui container">
        <div class="ui mini horizontal statistic">
            <div class="value">
                <i class="blue color list layout icon"></i>&nbsp;&nbsp;
                <span class="ui blue color text">All assignments</span>
            </div>
        </div>
        <div class="ui text normal container" ng-show="assetHistory.items.length > 0" st-table="displayAssignments" st-safe-src="assetHistory.items">
            <table class="ui unstackable single line very basic table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Identity Code</th>
                        <th>Current Owner</th>
                        <th>Previous Owners</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in displayAssignments">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ item.identityCode}}</td>
                        <td><span class="ui blue label" ng-show="item.currentOwner != ''">{{ item.currentOwner }}</span></td>
                        <td>
                            <span ng-repeat="owner in item.previousOwners"
                                  class="ui medium label" ng-if="item.previousOwners.length > 0">
                                {{owner}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html"></div>
        </div>
        <div class="ui red message" ng-show="assetHistory.items.length == 0">
            No records
        </div>
    </div>
</div>