﻿<script src="Scripts/app.asset.js"></script>

<!-- Lazy Loading for Controllers -->
<script src="app/services/asset-type-service.js"></script>
<script src="app/controllers/assettypesController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container oneline">
    <div class="ui form">
        <h3 class="elegant text uppercase black color">Create New Asset Type</h3>
        <div class="ui hidden divider"></div>
        <div class="fields">
            <div class="sixteen wide field">
                <label>Enter asset information</label>
                <div class="fields">
                    <div class="five wide field">
                        <div class="ui large input">
                            <input type="text" placeholder="Name" ng-model="newAssetName">
                        </div>
                        <div class="ui small submit blue button margin up" ng-click="createNewAsset($event, 'dropdown')">
                            Create
                        </div>
                    </div>
                    <div class="five wide field">
                        <div class="ui fluid large selection dropdown input" id="dropdown" bd-dropdown>
                            <input type="hidden" name="assettype">
                            <i class="dropdown icon"></i>
                            <div class="default text">Type of Asset</div>
                            <div class="menu">
                                <div class="item" data-value="{{assetType.value}}" ng-repeat="assetType in assetTypes">{{assetType.display}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide field">
                        <div class="ui large input">
                            <input type="text" placeholder="Note" ng-model="newAssetNote">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <h3 class="elegant text uppercase black color">The List of Current Assets</h3>
    <div class="sixteen wide field" st-table="displayAssets" st-safe-src="assets">
        <table class="ui unstackable single line very basic table">
            <thead>
                <tr>
                    <th>#</th>
                    <th st-sort="Name">Asset Name</th>
                    <th st-sort="AssetTypeName">Asset Type Name</th>
                    <th st-sort="Assignments.length">Quantity</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in displayAssets">
                    <td>{{$index + 1}}</td>
                    <td>
                        {{asset.Name}}
                    </td>
                    <td>
                        {{asset.AssetTypeName}}
                    </td>
                    <td>
                        {{asset.Assignments != null ? asset.Assignments.length : 0}}
                    </td>
                    <td>
                        {{asset.Note}}
                    </td>
                    <td class="right aligned">
                        <div class="ui dropdown" bd-dropdown>
                            <i class="ellipsis horizontal icon grey color"></i>
                            <div class="menu">
                                <div class="item">
                                    <a class="ui black color text" href="#/assets/create/{{asset.Id}}">Add</a>
                                </div>
                                <div class="item"
                                     edit-asset
                                     target-id="mdlEditAsset"
                                     txt-id="txtAssetName"
                                     txt-note-id="txtAssetNote"
                                     dropdown-id="ddAssetType"
                                     fn="editAsset(id, name, type, note)"
                                     data-id="{{asset.Id}}"
                                     data-name="{{asset.Name}}"
                                     data-type="{{asset.Type}}"
                                     data-note="{{asset.Note}}">
                                    Edit
                                </div>
                                <div class="item"
                                     delete-modal
                                     target-id="mdlDeleteAsset"
                                     fn="deleteAsset(id)"
                                     data-id="{{asset.Id}}">
                                    Delete
                                </div>
                                <div class="item">
                                    <a class="ui black color text" href="#/assetdetails?id={{asset.Id}}">Details</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for edit asset -->
<div id="mdlEditAsset" class="ui mini modal">
    <div class="ui header">
        Edit Asset
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Asset Name</label>
                    <div class="ui medium input">
                        <input type="text" placeholder="Name" id="txtAssetName" />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Asset Type</label>
                    <div class="ui compact medium selection dropdown input" id="ddAssetType" bd-dropdown>
                        <input type="hidden" name="assettype">
                        <i class="dropdown icon"></i>
                        <div class="default text">Type</div>
                        <div class="menu">
                            <div class="item" data-value="{{assetType.value}}" ng-repeat="assetType in assetTypes">{{assetType.display}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Note</label>
                    <div class="ui medium input">
                        <input type="text" placeholder="Note" id="txtAssetNote" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">Save</div>
    </div>
</div>

<!-- Modal for delete asset -->
<div id="mdlDeleteAsset" class="ui mini modal">
    <div class="ui header">
        Are you sure want to delete this asset?
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">OK</div>
    </div>
</div>