﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/office-service.js"></script>
<script src="app/services/staff-service.js"></script>
<script src="app/controllers/staffsController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container">
    <form id="registerStaffForm" class="ui form aligned container" register-staff-form>
        <h3 class="elegant text uppercase black color">Create new staff</h3>
        <div class="ui hidden divider"></div>
        <div class="ui inverted dimmer">
            <div class="ui medium loader"></div>
        </div>
        <div class="field">
            <label>Name</label>
            <div class="ui large input">
                <input placeholder="Enter name" name="name" type="text" ng-model="staffRegisterData.name">
            </div>
        </div>
        <div class="field" ng-show="staffRegisterData.isExtDup != true || staffRegisterData.ext == ''">
            <label>Ext</label>
            <div class="ui large input">
                <input placeholder="Enter ext number" name="ext" type="text" ng-model="staffRegisterData.ext">
            </div>
        </div>

        <div class="field error" ng-if="staffRegisterData.isExtDup == true && staffRegisterData.ext != ''">
            <label>Ext</label>
            <div class="ui large input">
                <input placeholder="Enter ext number" name="ext" type="text" ng-model="staffRegisterData.ext" ng-change="staffRegisterData.isExtDup = false">
            </div>
            <div class="ui basic red pointing prompt label transition visible">
                Existed ext number. Please try again!
            </div>
        </div>
        

        <div class="field">
            <label>Note</label>
            <div class="ui large input">
                <input placeholder="Enter note" name="note" type="text" ng-model="staffRegisterData.note">
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="inline field">
            <span>
                <i class="building icon"></i>&nbsp;
                <div class="ui inline dropdown" id="ddOfficeRegisterStaff" bd-dropdown>
                    <input name="officeId" type="hidden">
                    <div class="default text">Join in building ...</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" ng-repeat="office in officesData" data-value="{{office.id}}">
                            {{office.name}}
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui small blue button" ng-click="registerStaff('#registerStaffForm', '#ddOfficeRegisterStaff', '#mdl')">
            Create
        </div>
        <div class="ui small button" ng-click="resetRegisterStaff()">
            Reset
        </div>
    </form>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div id="mdl" class="ui mini modal">
    <div class="ui icon header">
        <i class="green check circle outline icon"></i>
        Create Staff Successfully
    </div>
    <div class="content">
        <p>Do you want assign assets to this staff?</p>
    </div>
    <div class="actions">
        <div class="ui deny button" ng-click="resetRegisterStaff()">Maybe later</div>
        <a class="ui ok blue button" href="#/staffs/assignment/create/{{staffId}}">Yes, I do</a>
    </div>
</div>