﻿<script src="Scripts/app.common.js"></script>

<!-- Lazy Loading for Controllers -->
<script src="app/services/reminder-service.js"></script>
<script src="app/controllers/remindersController.js"></script>

<div class="ui hidden divider"></div>

<div class="ui container">
    <h2 class="ui header">List of Reminders</h2>

    <button class="small ui right floated circular blue icon button" ng-click="complete($event)">
        <i class="icon checkmark"></i>
    </button>
    <button class="small ui right floated circular blue icon button"
            create-reminder
            target-id="mdlCreateReminder"
            txt-id="txtContent"
            picker1-id="dtpTimeStamp"
            picker2-id="dtpDueTime"
            fn="createNewReminder(timestamp, duetime, content)">
        <i class="icon add"></i>
    </button>
</div>

<div class="ui text normal container oneline" st-table="displayReminders" st-safe-src="reminders">
    <table class="ui unstackable single line very basic table">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th st-sort="TimeStamp">Start Time</th>
                <th st-sort="DueTime">Due Time</th>
                <th>Content</th>
                <th st-sort="Completed">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reminder in displayReminders" class="{{reminder.Completed ? 'row-grey-color' : ''}}">
                <td>
                    <i class="link large square outline icon" ng-hide="reminder.Completed" ng-click="checkComplete(reminder.Id, $event)"></i>
                </td>
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{reminder.TimeStamp | date:'dd MMM yyyy - hh mm ss'}}
                </td>
                <td>
                    {{reminder.DueTime | date:'dd MMM yyyy - hh mm ss'}}
                </td>
                <td>
                    <div class="content" data-ng-bind-html="reminder.Content"></div>
                </td>
                <td>
                    {{reminder.Completed ? "Completed" : "Incompleted"}}
                </td>
                <td>
                    <div class="ui dropdown" bd-dropdown>
                        <i class="ellipsis horizontal icon grey color"></i>
                        <div class="menu">
                            <div class="item"
                                 ng-hide="reminder.Completed"
                                 edit-reminder
                                 target-id="mdlEditReminder"
                                 txt-id="txtEditContent"
                                 picker1-id="dtpEditTimeStamp"
                                 picker2-id="dtpEditDueTime"
                                 cbo-id="cboEditCompleted"
                                 fn="updateReminder(id, timestamp, duetime, content, completed)"
                                 data-id="{{reminder.Id}}"
                                 data-timestamp="{{reminder.TimeStamp}}"
                                 data-duetime="{{reminder.DueTime}}"
                                 data-content="{{reminder.Content}}">
                                Edit
                            </div>
                            <div class="item"
                                 delete-modal
                                 target-id="mdlDeleteReminder"
                                 fn="deleteReminder(id)"
                                 data-id="{{reminder.Id}}">
                                Delete
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html"></div>
</div>

<!-- Modal for delete reminder -->
<div id="mdlDeleteReminder" class="ui mini modal">
    <div class="ui header">
        Are you sure want to delete this reminder?
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">OK</div>
    </div>
</div>

<!-- Modal for create reminder -->
<div id="mdlCreateReminder" class="ui modal">
    <div class="ui header">
        Create a new Reminder
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Start Time</label>
                    <div class="ui medium input">
                        <div class="custom-datetimepicker">
                            <div id="dtpTimeStamp" class="input-append date">
                                <div class="ui input auto-width">
                                    <input class="auto-width" data-format="dd/MM/yyyy hh:mm:ss" type="text" />
                                </div>
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Due Time</label>
                    <div class="ui medium input">
                        <div class="custom-datetimepicker">
                            <div id="dtpDueTime" class="input-append date">
                                <div class="ui input auto-width">
                                    <input class="auto-width" data-format="dd/MM/yyyy hh:mm:ss" type="text" />
                                </div>
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Content</label>
                    <div class="ui medium input fluid">
                        <input type="text" placeholder="Note something ..." id="txtContent" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">Create</div>
    </div>
</div>

<!-- Modal for edit reminder -->
<div id="mdlEditReminder" class="ui modal">
    <div class="ui header">
        Update reminder information
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Start Time</label>
                    <div class="ui medium input">
                        <div class="custom-datetimepicker">
                            <div id="dtpEditTimeStamp" class="input-append date">
                                <div class="ui input auto-width">
                                    <input class="auto-width" data-format="dd/MM/yyyy hh:mm:ss" type="text" />
                                </div>
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Due Time</label>
                    <div class="ui medium input">
                        <div class="custom-datetimepicker">
                            <div id="dtpEditDueTime" class="input-append date">
                                <div class="ui input auto-width">
                                    <input class="auto-width" data-format="dd/MM/yyyy hh:mm:ss" type="text" />
                                </div>
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Content</label>
                    <div class="ui medium input fluid">
                        <input type="text" placeholder="Note something ..." id="txtEditContent" />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Completed</label>
                    <div class="ui medium input fluid">
                        <i class="link large square outline icon" id="cboEditCompleted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">Save</div>
    </div>
</div>