﻿<script src="Scripts/smart-table.min.js"></script>
<script src="Scripts/app.asset.js"></script>

<!-- Lazy Loading for Controllers -->
<script src="app/services/asset-service.js"></script>
<script src="app/services/asset-type-service.js"></script>
<script src="app/controllers/assetsController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container">
    <div class="ui form">
        <h3 class="elegant text uppercase black color">Create New Asset</h3>
        <div class="ui hidden divider"></div>
        <div class="required fields">
            <div class="ten wide field">
                <label>Select an asset type</label>
                <div class="ui fluid large search selection dropdown" id="dropdown" bd-dropdown>
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select an asset type</div>
                    <div class="menu">
                        <div class="item" data-value="{{asset.Id}}" ng-repeat="asset in assets | orderBy:'Name'">{{asset.Name}}</div>
                    </div>
                </div>
                <div class="sub label grey color">
                    <i>Not found your asset type? <a href="#/assettypes">Create a new one</a></i>
                </div>
            </div>
            <div class="six wide field">
                <label>Amount</label>
                <div class="ui large input">
                    <input type="text" placeholder="Amount value" ng-model="amount">
                </div>
            </div>
        </div>
        <div class="ui small submit blue button" ng-hide="isShowResult" ng-click="generateAssetCode('dropdown')">
            Generate Assets Code
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div ng-show="isDisplayBatch">
        <div>
            <span ng-hide="isShowResult">The latest id of this type is <b>{{lastId}}</b>. The next {{appliedAmount}} items are starting from <b>{{nextId}}</b>.</span>
            <span ng-show="isShowResult">The list of added assets. Click <b>Continue</b> button to add new assets.</span>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui form">
            <table class="ui unstackable single line very basic table" st-table="displayCodes" st-safe-src="codes">
                <thead>
                    <tr>
                        <th class="two wide">#</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="code in displayCodes">
                        <td>{{code.id}}</td>
                        <td>
                            <div class="field ui fluid input">
                                <input type="text" name="first-name" placeholder="Code Increment" ng-model="code.code" ng-hide="isShowResult">
                                <label ng-show="isShowResult">{{code.code}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui hidden divider"></div>
            <div class="ui small submit blue button" ng-click="createBatch('dropdown')" ng-hide="isShowResult">
                Create This Batch
            </div>
            <div class="ui small button" ng-click="removeLastItem()" ng-hide="isShowResult">
                Remove Last Row
            </div>
            <div class="ui small button" ng-click="clearAll('dropdown')">
                {{(isShowResult ? 'Continue' : 'Reset')}}
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
</div>