﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/asset-service.js"></script>
<script src="app/services/staff-service.js"></script>
<script src="app/controllers/staffEditAssignmentsController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container" id="assignContainer">
    <div class="ui inverted dimmer">
        <div class="ui medium loader"></div>
    </div>
    <div id="assignmentForm" class="ui form" assignment-form>
        <div class="field">
            <label>Edit staff</label>
                <div class="ui dropdown fluid remote search selection"
                 data-url="http://localhost:49966/odata/staffs?$filter=contains(Name,'{query}')"
                 staff-id="staffId"
                 event="gotStaffInformationEvent"
                 bd-staff-search>
                <input type="hidden" name="staffId">
                <i class="search icon"></i>
                <div class="default text"></div>
                <div class="menu"></div>
            </div>
        </div>
        <div class="field">
            <label>Assignment</label>
            <div class="fields">
                <div class="six wide field">
                    <dropdown default-text="Asset Type"
                              items="assetTypesData"
                              text="display"
                              value="value"
                              id="assetTypeId"
                              event-tracking="assetTypesDataLoadedEvent"
                              bypass-event="assignmentAddedEvent"
                              fn="getAssetsByAssetType(id)"
                              obj-name="assetTypeName"
                              css-class="fluid selection"></dropdown>
                </div>
                <div class="ten wide field">
                    <dropdown default-text="Select Asset"
                              items="assignmentData.referenceList"
                              value="id"
                              text="fullName"
                              id="assets"
                              multiple="true"
                              event-tracking="assetsDataLoadedEvent"
                              bypass-event="assignmentAddedEvent"
                              obj-value="identityCodesId"
                              obj-name="identityCodesName"
                              css-class="fluid selection"></dropdown>
                </div>
            </div>
        </div>
        <button class="ui small blue button" ng-click="addAssignment('#assignmentForm')">
            Assign
        </button>
    </div>
    <div class="ui hidden divider"></div>
    <div ng-show="assignmentsData.length > 0 || assignmentsDisplayData.length >0">
        <table class="ui unstackable single line very basic table">
            <thead>
                <tr>
                    <th></th>
                    <th>Asset Type</th>
                    <th>Assets</th>
                    <th class="two wide"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignment in assignmentsDisplayData">
                    <td>
                        <i class="large trash outline link outline icon" ng-click="removeAssignment($index)"></i>
                    </td>
                    <td>
                        <div class="ui label">
                            {{assignment.assetTypeName}}
                        </div>
                    </td>
                    <td>
                        <span ng-repeat="item in assignment.assetsName track by $index" class="ui label">
                            {{item}}
                            <i class="delete link icon" ng-click="removeItemInAssignment($parent.$index,$index)"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ui small blue button" ng-click="createAssignment('#assignContainer')">Update This Assignment</div>
        <div class="ui small button" ng-click="reset()">Reset</div>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
