﻿<script src="Scripts/app.common.js"></script>
<script src="Scripts/app.activitylog.js"></script>
<!-- Lazy Loading for Controllers -->
<script src="app/services/reminder-service.js"></script>
<script src="app/services/activitylog-service.js"></script>
<script src="app/controllers/homeController.js"></script>

<div class="panel visible-xs">
    <div class="ui search" id="ddSearchStaff">
        <div class="ui fluid right icon input">
            <input class="prompt" type="text" placeholder="Search staff ..." ng-enter="lookup(undefined, 'ddSearchStaff')">
            <i class="search icon"></i>
        </div>
        <div class="ui small loader" ng-class="{ 'active': isLoadingTable }"></div>
        <div class="results"></div>
    </div>
</div>
<div class="panel reminder">
    <div class="ui four column doubling stackable grid container">
        <div class="ui inverted dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="header column">
            <div class="ui orange horizontal statistic">
                <div class="value">
                    {{reminderCount}}
                </div>
                <div class="label">
                    Reminders&nbsp;&nbsp;&nbsp;
                    <i class="refresh link light grey color icon" ng-click="refreshReminders('.panel.reminder .dimmer', $event)" 
                       ng-class="{ 'loading': isLoadingReminder }"></i>
                </div>
            </div>
        </div>
        <div class="column" ng-repeat="item in reminderGroup">
            <div class="orange color">
                <b>{{item.TimeStamp | date:'dd MMM'}}</b>
            </div>
            <div class="ui relaxed list">
                <div class="item" ng-repeat="reminder in item.Reminders track by $index">
                    <i class="link large square outline icon" ng-click="complete(reminder.Id, $event)"></i>
                    <div class="content" data-ng-bind-html="reminder.Content"></div>
                </div>
            </div>
        </div>
        <div class="view more">
            <a class="ui small basic button" href="#/reminders/">
                See more
            </a>
        </div>
    </div>
</div>

<div class="visible-xs visible-sm panel">
    <div class="ui two column grid container">
        <div class="column text centered">
            <button class="ui fluid black basic button">
                Add Staff
            </button>
        </div>
        <div class="column text centered">
            <button class="ui fluid black basic button">
                Add Asset
            </button>
        </div>
    </div>
</div>

<div class="panel">
    <div class="ui container">
        <div class="ui mini horizontal statistic">
            <div class="value">
                Staffs
            </div>
        </div>
        <table st-table="displayMatchesStaff" st-safe-src="matchesStaff" class="ui unstackable single line very basic table" ng-if="matchesStaff.length > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th st-sort="Name">Name</th>
                    <th st-sort="Ext">Ext</th>
                    <th>Office</th>
                    <th>Assets</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in displayMatchesStaff">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ match.Name }}</td>
                    <td>{{ match.Ext }}</td>
                    <td>{{ match.Office.Name }}</td>
                    <td>
                        <span ng-repeat="assignment in match.Assignments track by $index"
                              class="ui medium label" ng-if="assignment.IdentityCode.length > 0">
                            {{assignment.IdentityCode}}
                        </span>
                    </td>
                    <td>{{ match.Note }}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <a class="ui small basic button" href="#/search/">
                            See more
                        </a>
                        <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel activities">
    <div class="ui container">
        <div class="ui mini horizontal statistic">
            <div class="value">
                <i class="grey color list layout icon"></i>&nbsp;&nbsp;
                Activities
            </div>
        </div>
        <div class="ui relaxed list">
            <div class="item" ng-repeat="log in logs">
                <div class="date" ng-show="log.TimePassed <= 60">
                    {{log.TimePassed}} mins ago
                </div>
                <div class="date" ng-show="log.TimePassed > 60">
                    More than an hour ago
                </div>
                <i class="{{log.Color}} mini radio icon"></i>
                <div class="content">
                    <span data-ng-bind-html="log.ParsedContent"></span>
                    <div class="list" ng-show="log.Items.length > 0">
                        <div class="item" ng-repeat="item in log.Items track by $index" data-ng-bind-html="'- ' + item"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                &nbsp;
            </div>
            <div class="view more" ng-show="logs.length > 0">
                <button class="ui small basic button" ng-click="loadMoreActivities($event)" ng-hide="numberOfLogs >= maxNumberOfLogs">
                    See more
                </button>
                <button class="ui small basic button" ng-click="loadLessActivities($event)" ng-hide="numberOfLogs <= minNumberOfLogs">
                    See less
                </button>
            </div>
        </div>
    </div>
</div>

