﻿<script src="../../Scripts/app.login.js"></script>

<!-- Lazy Loading for Controllers -->
<script src="app/services/asset-type-service.js"></script>
<script src="app/controllers/loginController.js"></script>

<div class="vertical centered aligned full height">
    <div>
        <h1 id="logo">asset</h1>
        <h3 class="elegant grey color">Log in to your account</h3>
        <form id="loginForm" class="ui form">
            <div class="field">
                <div class="ui large left icon input">
                    <input placeholder="username or email" name="username" type="text" ng-model="loginData.userName">
                    <i class="keyboard icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui large left icon input">
                    <input placeholder="password" type="password" name="password" ng-model="loginData.password">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui animated blue submit fade fluid elegant button" tabindex="0">
                <div class="visible content">LOG IN</div>
                <div class="hidden content">GO!</div>
            </div>
        </form>
        <br/>
        <p>
            Don't have account?  <a href="#/signup">Sign up here</a>
        </p>
    </div>
</div>