﻿<div class="ui hidden divider"></div>

<div class="ui text normal container">
    <span class="blue color">0.9.8</span>&nbsp;&nbsp;&nbsp;<span>29 Dec 2015</span>
    <div class="ui divider"></div>
    <div class="ui list">
        <div class="item">A</div>
        <div class="item">B</div>
    </div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
