﻿<link href="Content/fullcalendar.css" rel="stylesheet" />
<link href="Content/fullcalendar.print.css" rel="stylesheet" media='print' />

<script src="Scripts/fullcalendar.js"></script>

<div class="ui hidden divider"></div>
<div class="ui container">
    <div id="calendar" calender ng-model="eventsData"
         fn="addRequest(reason, start, end, leaveType)"></div>
</div>

<!-- Modal for add request -->
<div id="mdlAddRequest" class="ui mini modal">
    <div class="ui header">
        Add Request
    </div>
    <div class="content">
        <div class="ui form" add-request-form>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Enter reason</label>
                    <div class="ui medium input">
                        <input type="text" placeholder="" name="reason" id="reason" />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Select leave type</label>
                    <div class="ui compact medium selection dropdown input" id="ddLeaveType" bd-dropdown>
                        <input type="hidden" name="ddLeaveType">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select leaving type</div>
                        <div class="menu">
                            <div class="item" data-value="1">Annual Leave</div>
                            <div class="item" data-value="2">Sick Leave</div>
                            <div class="item" data-value="3">Paid Leave</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">Save</div>
    </div>
</div>