﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/roles-service.js"></script>
<script src="app/controllers/rolesController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container">
    <div class="ui form">
        <h3 class="elegant text uppercase black color">Create New Role</h3>
        <div class="ui hidden divider"></div>
        <div class="fields">
            <div class="ten wide field">
                <label>Enter a role name</label>
                <div class="field">
                    <div class="ui large input">
                        <input type="text" placeholder="Name" ng-model="name">
                    </div>
                    <div class="ui small submit blue button margin up" ng-click="create($event)">
                        Create
                    </div>
                </div>
            </div>
            <div class="one wide field"></div> 
            <div class="five wide field">
                <label>Role List</label>
                <table class="ui unstackable single line very basic table" st-table="displayRoles" st-safe-src="roles">
                    <tbody>
                        <tr ng-repeat="role in displayRoles">
                            <td>
                                {{role.name}}
                            </td>
                            <td class="right aligned">
                                <div class="ui dropdown" bd-dropdown>
                                    <i class="ellipsis horizontal icon grey color"></i>
                                    <div class="menu">
                                        <!--<div class="item"
                                             edit-asset
                                             target-id="mdlEditAsset"
                                             txt-id="txtAssetName"
                                             dropdown-id="ddAssetType"
                                             fn="editAsset(id, name, type, createdBy, createdDate)"
                                             data-id="{{asset.Id}}"
                                             data-name="{{asset.Name}}"
                                             data-type="{{asset.Type}}">
                                            Edit
                                        </div>-->
                                        <div class="item"
                                             delete-modal
                                             target-id="mdlDelete"
                                             fn="deactiveOrDelete(id)"
                                             data-id="{{role.id}}">
                                            In-active or delete
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
</div>

<!-- Modal for edit asset -->
<!--div id="mdlEditAsset" class="ui mini modal">
    <div class="ui header">
        Edit Asset
    </div>
    <div class="content">
        <div class="ui form">
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Asset Name</label>
                    <div class="ui medium input">
                        <input type="text" placeholder="Name" id="txtAssetName" />
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="sixteen wide field">
                    <label>Asset Type</label>
                    <div class="ui compact medium selection dropdown input" id="ddAssetType" bd-dropdown>
                        <input type="hidden" name="assettype">
                        <i class="dropdown icon"></i>
                        <div class="default text">Type</div>
                        <div class="menu">
                            <div class="item" data-value="{{assetType.value}}" ng-repeat="assetType in assetTypes">{{assetType.display}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">Save</div>
    </div>
</div>-->

<!-- Modal for delete asset -->
<div id="mdlDelete" class="ui mini modal">
    <div class="ui header">
        Are you sure want to deactive this role?
    </div>
    <div class="content">
        <p>If role doesn't have any users, it will be deleted. <br/>Otherwise, role will be deactive.</p>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">OK</div>
    </div>
</div>