﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/office-service.js"></script>
<script src="app/services/staff-service.js"></script>
<script src="app/controllers/searchController.js"></script>

<div class="ui hidden divider"></div>
<div class="ui text normal container oneline" st-table="displayMatches" st-safe-src="matches">
    <table class="ui unstackable single line very basic table" ng-if="matches.length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th st-sort="Name">Name</th>
                <th st-sort="Ext">Ext</th>
                <th>Office</th>
                <th>Assets</th>
                <th>Note</th>
                <th class="one wide"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="match in displayMatches">
                <td>{{ $index + 1 }}</td>
                <td>{{ match.Name }}</td>
                <td>{{ match.Ext }}</td>
                <td>{{ match.Office.Name }}</td>
                <td>
                    <span ng-repeat="assignment in match.Assignments"
                          class="ui medium label" ng-if="assignment.IdentityCode.length > 0">
                        {{assignment.IdentityCode}}
                    </span>
                </td>
                <td>{{ match.Note }}</td>
                <td class="right aligned">
                    <div class="ui dropdown" bd-dropdown>
                        <i class="ellipsis horizontal icon grey color"></i>
                        <div class="menu">
                            <div class="item"
                                 change-office
                                 target-id="mdlChangeOffice"
                                 dropdown-id="ddChangeOffice"
                                 fn="changeOffice(id, officeId)"
                                 data-id="{{match.Id}}"
                                 data-office-id="{{match.OfficeId}}">
                                Change office
                            </div>
                            <a class="item" href="#/staffs/assignment/edit/{{match.Id}}">Edit assets</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html"></div>

</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<!-- Modal for changing office -->
<div id="mdlChangeOffice" class="ui mini modal">
    <div class="ui header">
        Change office
    </div>
    <div class="content">
        <div class="ui form">
            <div id="ddChangeOffice" class="ui compact selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text"></div>
                <input type="hidden" name="officeId">
                <div class="menu">
                    <div class="item" ng-repeat="office in officesData" data-value="{{office.id}}">
                        {{office.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui ok blue button">Save</div>
    </div>
</div>