﻿<!-- Lazy Loading for Controllers -->
<script src="app/services/staff-service.js"></script>
<script src="app/controllers/signupController.js"></script>

<div class="vertical centered aligned full height">
    <div>
        <h1 id="logo">asset</h1>
        <h3 class="elegant grey color">Register to create new account</h3>
        <form id="signupForm" class="ui form">
            <div class="field">
                <div class="ui large left icon input">
                    <input placeholder="Username or Email" type="text" ng-model="registration.userName" required autofocus>
                    <i class="keyboard icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui large left icon input">
                    <input placeholder="Password" type="password" ng-model="registration.password" required>
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui large left icon input">
                    <input placeholder="Confirm password" type="password" ng-model="registration.confirmPassword" required>
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui large selection dropdown input" id="dropdown" bd-dropdown>
                    <input type="hidden" name="staff">
                    <i class="grey user icon"></i>
                    <div class="default text">The staff</div>
                    <div class="menu">
                        <div class="item" data-value="{{staff.Id}}" ng-repeat="staff in staffs">{{staff.Name}}</div>
                    </div>
                </div>
            </div>
            <div class="ui divider hidden"></div>
            <div class="ui animated blue submit fade fluid elegant button" tabindex="0" ng-click="signUp()">
                <div class="visible content">REGISTER</div>
                <div class="hidden content">CREATE!</div>
            </div>
        </form>
        <br />
        <p>
            Already have an Account?  <a href="#/login">Login here</a>
        </p>
    </div>
    <!--<div data-ng-hide="message == ''" ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
        -->
</div>
