﻿<script src="Scripts/underscore-min.js"></script>
<script src="Scripts/smart-table.min.js"></script>
<script src="Scripts/app.staff.js"></script>

<!-- Lazy Loading for Controllers -->
<script src="app/services/office-service.js"></script>
<script src="app/services/staff-service.js"></script>
<script src="app/controllers/staffsController.js"></script>

<div st-table="displayMatches" st-safe-src="matches" st-set-filter="staffFilter" > 
    <div class="header">
        <div class="ui grid container">
            <!--thirteen wide mobile twelve wide tablet eleven wide computer column middle-->
            <div class="twelve wide column">
                
            </div>
            <div class="two wide column">
                <div class="ui horizontal tiny statistic">
                    <div class="value">
                        190
                    </div>
                    <div class="label">
                        Staffs
                    </div>
                </div>
            </div>
            <div class="two wide column">
                <button class="ui small icon blue button desktop-only btnRegisterStaff">
                    Add new staff
                </button>
                <button class="small ui right floated circular blue icon button mobile-only btnRegisterStaff">
                    <i class="icon add"></i>
                </button>
            </div>
        </div>
    </div>
    <!--<div class="ui container">
        <div ng-if="matches.length > 0" class="result-stat">
            <span>About {{matches.length}} results.</span>
            <nav class="command menu" ng-show="matches.length > 2">
                <span class="header item">Sort By</span>
                <span class="item" st-sort="Name">
                    <i class="long arrow down icon"></i>
                    <i class="long arrow up icon"></i>
                    Name
                </span>
                <span class="item" st-sort="Ext">
                    <i class="long arrow down icon"></i>
                    <i class="long arrow up icon"></i>
                    Ext
                </span>
            </nav>

            <filter-building items="officesData" text="name" value="id"
                             predicate="OfficeId" ng-show="matches.length > 2"></filter-building>
        </div>
        <div id="staff-grid" class="ui relaxed grid" ng-if="matches.length > 0">
            <div class="ui four wide column" ng-repeat="match in displayMatches">
                <div class="ui segment">
                    <div class="title">
                        {{match.Name}}
                    </div>
                    <div class="content">
                        <span class="blur" ng-show="match.Ext.length > 0">{{match.Ext}}, </span>
                        <span class="blur">{{match.Office.Name}}</span>
                    </div>
                    <div class="ui dropdown" bd-dropdown>
                        <i class="ellipsis vertical icon"></i>
                        <div class="menu">
                            <div class="item"
                                 resign-staff
                                 target-id="mdlResignStaff"
                                 fn="resign(id, verificationCode)"
                                 data-id="{{match.Id}}">
                                Resign
                            </div>

                            <div class="item" 
                                 change-office 
                                 target-id="mdlChangeOffice"
                                 dropdown-id="ddChangeOffice"
                                 fn="changeOffice(id, officeId)"
                                 data-id="{{match.Id}}"
                                 data-office-id="{{match.OfficeId}}">
                                Change office
                            </div>
                        </div>
                    </div>
                    <div>
                        <span ng-repeat="(key, value) in match.StaffReport"
                              ng-if="key != 'SummaryAssignmentCountBaseOnType'"
                              class="ui medium label">
                            {{value}}
                            <i class="delete icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html"></div>
        
    </div>-->

    <div class="ui grid elegant">
        <div class="five wide tablet four wide computer three wide large screen three wide widescreen column">
            <div class="ui link selection relaxed list">
                <a class="item" ng-click="lookupByStaffType()">Offical Staff</a>
                <a class="item" ng-click="lookupByStaffType()">Probation Staff</a>
            </div>
            <div class="ui link selection relaxed list" ng-init="state.selectedItem = -1">
                <h5 class="header">Building</h5>
                <a class="item" ng-class="{'active': office.id === state.selectedItem}" ng-repeat="office in officesData" ng-click="lookupByOffice(office.id);state.selectedItem = office.id">
                    {{office.name}}
                </a>
            </div>
            <div class="ui link selection relaxed list">
                <h5 class="header">Team</h5>
                <a class="item" ng-click="lookupByTeam()">LEG</a>
                <a class="item" ng-click="lookupByTeam()">ED</a>
                <a class="item" ng-click="lookupByTeam()">Steadfast</a>
            </div>
        </div>
        <div class="five wide tablet four wide computer four wide large screen three wide widescreen column">
            <div class="panel">
                <div class="input-wrapper">
                    <div class="ui transparent fluid left icon input">
                        <input st-search="" type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ui relaxed selection divided list" ng-init="state.selectedItemInList = -1">
                    <div class="item" ng-class="{'active': match.Id === state.selectedItemInList}" ng-repeat="match in displayMatches" ng-click="showDetail(match);state.selectedItemInList = match.Id">
                        <div class="content">
                            <h4 class="header elegant">{{match.Name}}</h4>
                            {{match.Ext}}
                        </div>
                    </div>
                </div>
                <div class="pagination-container" st-pagination="" st-items-by-page="itemsByPage" st-template="/app/templates/pagination.html"></div>
            </div>
        </div>
        <div class="six wide tablet eight wide computer nine wide large screen ten wide widescreen column">
            <div class="basic segment">
            </div>
        </div>
    </div>
</div>

<!-- Register a staff -->
<div id="registerStaffModal" class="ui tiny modal">
    <div class="ui dimmer">
        <div class="ui medium loader"></div>
    </div>
    <div class="content">
        <form id="registerStaffForm" class="ui form aligned container">
            <div class="field">
                <label>Name</label>
                <input placeholder="name" name="name" type="text" ng-model="staffRegisterData.name">
            </div>
            <div class="field">
                <label>Ext</label>
                <input placeholder="ext" name="ext" type="text" ng-model="staffRegisterData.ext">
            </div>
            <div class="inline field">
                <span>
                    <i class="building icon"></i>&nbsp; 
                    <div class="ui inline dropdown" id="ddOfficeRegisterStaff">
                        <input name="officeId" type="hidden">
                        <div class="default text">Join in building ...</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" ng-repeat="office in officesData" data-value="{{office.id}}">
                                {{office.name}}
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Close
        </div>
        <div class="ui ok violet button">
            Register
        </div>
    </div>
</div>

<!-- A message box asks user to confirm staff resignation -->
<div id="mdlResignStaff" class="ui mini modal">
    <div class="ui header">
        Resign staff
    </div>
    <div class="content">
        <p>Enter verification code to process this request</p>
        <form class="ui large form">
            <div class="field">
                <div class="ui input">
                    <input type="text" placeholder="Code" class="centered aligned">
                </div>
            </div>
        </form>
        <p>(Your passcode is <span class="hint">{{authentication.psk}}</span>)</p>
    </div>
    <div class="actions">
        <div class="ui deny blue button">Cancel</div>
        <div class="ui ok grey button">Resign</div>
    </div>
</div>

