﻿<div class="panel">
    <div class="ui container">
        <div class="ui mini horizontal statistic">
            <div class="value">
                Today Check-in {{firstCheckIn}}
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="ui container">
        <div class="ui mini horizontal statistic">
            <div class="value">
                Staffs
            </div>
        </div>
        <table class="ui unstackable single line very basic table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Lacking (HH:mm:ss)</th>
                </tr>
            </thead>

            <tbody ng-repeat="item in data">
                <tr>
                    <td>{{item.date}}</td>
                    <td>{{item.start}}</td>
                    <td>{{item.end}}</td>
                    <td>{{item.miss}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>