﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8"> 
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Asset Management</title>
    <link href="semantic/dist/semantic.css" rel="stylesheet" />
    <link href="Content/flaticon.css" rel="stylesheet" />
    <link href="Content/toastr.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <link href="bower_components/nvd3/build/nv.d3.css" rel="stylesheet" />
    <link href="bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href="Content/datetimepicker.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body ng-controller="indexController" ng-class="{'main-container': !isActiveLink('/login')}">
    <div class="ui left large sidebar vertical menu">
        <br/><br />
        <a class="item" ng-class="{active: isActiveLink('/home')}"
           ng-if="authentication.isAuth" href="#/home">
            Home
        </a>
        <a class="item" ng-class="{active: isActiveLink('/staffs')}" 
           ng-if="authentication.isAuth" href="#/search">
            Staff
        </a>
        <a class="item" ng-class="{active: isActiveLink('/assets')}" 
           ng-if="authentication.isAuth" href="#/assettypes">
            Asset
        </a>
        <a class="item" ng-class="{active: isActiveLink('/roles')}"
           ng-if="authentication.isAuth" href="#/roles">
            Roles
        </a>
        <a class="item" ng-class="{active: isActiveLink('/request')}"
           ng-if="authentication.isAuth" href="#/request">
            Request
        </a>
        <a class="item" ng-class="{active: isActiveLink('/timesheet')}"
           ng-if="authentication.isAuth" href="#/timesheet">
            Time Sheet
        </a>
    </div>
    <div class="pusher">
        <div class="panel menu">
            <div class="ui secondary menu fluid container" ng-if="!isActiveLink('/login') && !isActiveLink('/signup')">
                <div class="item">
                    <button type="button" id="hamburger" class="tcon tcon-menu--xcross" aria-label="toggle menu">
                        <span class="tcon-menu__lines" aria-hidden="true"></span>
                        <span class="tcon-visuallyhidden">toggle menu</span>
                    </button>
                    <a id="logo" class="small" href="/">asset</a>
                </div>
                <div class="right menu">
                    <div class="item visible-sm visible-md visible-lg" ng-if="authentication.isAuth">
                        <div class="ui search" id="ddSearchStaff"
                             fn="lookup(keyword, '#ddSearchStaff')"
                             results="value"
                             title="Name"
                             bd-global-search>
                            <div class="ui right icon input">
                                <input class="prompt" type="text" placeholder="Search staff ..." ng-enter="lookup('', '#ddSearchStaff')">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="ui item" ng-if="authentication.isAuth">
                        <div class="ui dropdown" bd-dropdown>
                            <i class="large red plus square outline icon"></i>
                            <div class="text">Create</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="#/staffs/create">New Staff</a>
                                <a class="item" href="#/assettypes">New Asset Type</a>
                                <a class="item" href="#/assets/create">New Asset</a>
                                <a class="item" href="#/staffs/assignment/create">Assignment Asset</a>
                            </div>
                        </div>
                    </div>
                    <a class="ui item" ng-if="!authentication.isAuth" href="#/login">Log in</a>
                    <div class="ui item" ng-if="authentication.isAuth">
                        <div class="ui dropdown" bd-dropdown>
                            <i class="large blue smile icon"></i>
                            <div class="text">{{authentication.userName}}</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" ng-click="logOut()">Logout</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-view="" ng-class="{'login-container': isActiveLink('/login'), 'signup-container': isActiveLink('/signup')}"></div>

        <div id="footer">
            <div class="ui right floated horizontal list">
                <div class="item">Aswig Solutions</div>
            </div>
            <div class="ui horizontal list">
                <div class="item">2015 &copy; LEG Team</div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/bootstrap-datetimepicker.js"></script>
    <script src="Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/smart-table.min.js"></script>
    <script src="Scripts/toastr.js"></script>    
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="Scripts/transformicons.js"></script>
    <script src="Scripts/underscore-min.js"></script>
    <script src="Scripts/moment.js"></script>

    <!-- Load app main script -->
    <script src="Scripts/script.js"></script>
    <script src="Scripts/site-config.js"></script>
    <script src="app/app.js"></script>

    <!-- Eager Loading for Services -->
    <script src="app/services/base-service.js"></script>
    <script src="app/services/auth-interceptor-service.js"></script>
    <script src="app/services/auth-service.js"></script>
    <script src="app/services/odata-service.js"></script>

    <!-- Eager Loading for Controllers -->
    <script src="app/controllers/indexController.js"></script>
    
    <!-- Eager Loading for Directives -->
    <script src="app/directives/common.js"></script>

    <!-- Eager Loading for Filters -->
    <script src="app/filters/common.js"></script>

</body>
</html>